/* 公共样式 */
.center-warp{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::before,.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    background-color: #f3f5f7;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 各模块公共样式 */
.common_top{
    height: 20px;
    margin-top: 36px;
    line-height: 20px;
}
.common_top h2{
    float: left;
    font-size: 20px;
    font-weight: normal;
}
.common_top_list{
    margin-left: 318px;
}
.common_top_list li{
    float: left;
    padding: 0 35px;
}
.common_top_list li a{
    font-size: 16px;
    color: #868686;
}
.common_top_list li a:hover{
    color: #00a4ff;
}
.common_top a{
    float: right;
    color: #a5a5a5;
}
.common_bottom{
    width: 1250px;
    margin-top: 22px;
}
.bottom_left {
    float: left;
}
.bottom_right{
    float: left;
    margin-left: 15px;
}

.common_item{
    position: relative;
    float: left;
    width: 229px;
    height: 271px;
    margin: 14px 14px 0 0;
    background-color: #fff;
}
.common_item:hover{
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.common_item>img{
    position: absolute;
    top: 4px;
    right: -4px;
}
.common_item a img{
    width: 100%;
}
.common_item_title{
    color: #000;
    margin: 24px 22px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;    
}
.common_item_more{
    padding: 0 22px;
    font-size: 12px;
}
.common_item_more .degree{
    color: #ff7c2d;
}
.common_item_more .study{
    color: #999;
}